.content {
	height:2254px;
}

.content__titel_over {
	height:411px;
}

.content__main_info {
	height:989px;
	background: url(images/main_info.png) no-repeat;
	background-size:100%;
}

.content__gallery {
	height:854px;
}

.titel_over__h1 {
	font-size:42px;
	font-family:Lato Light;
	margin:88px 0 0 190px;
}

.main_info__block1 {
	width:30.66%;
	height:auto;
	float:left;
	margin:0 2%;
}

.main_info__block2 {
	width:30.66%;
	height:auto;
	float:left;
}

.main_info__block3 {
	width:30.66%;
	height:auto;
	float:right;
	margin:0 2%;
}

.main_info__block4 {
	width:458px;
	height:399px;
	float:left;
	margin:0 1.1%;
	line-height:1.5;
	background: url(images/about-us.png);
}

.main_info__block5 {
	width:458px;
	height:399px;
	float:right;
	margin-right:1.1%;
	line-height:1.5;
	background: url(images/about-us.png);
}

.block__h3 {
	font-family:Neucha;
	font-size:34px;
	padding:0 20px;
}

.content__p {
	font-size:18px;
	padding:10px 20px;
}

.debug {
	margin-left:170px;
}

.content__p1 {
	font-size:18px;
	padding:20px;
}

.gallery__img1 {
	height:300px;
	width:300px;
	float:left;
	background: url(images/foto.png);
	margin: 0 13px 16px 0;
} 

.gallery__img2 {
	height:300px;
	width:300px;
	float:left;
	background: url(images/foto.png);
	margin: 0 13px 16px 0;
} 

.gallery__img3 {
	height:300px;
	width:300px;
	float:left;
	background: url(images/foto.png);
	margin: 0 13px 16px 0;
} 

.gallery__second_row {
	width:615px;
	height:300px;
	margin:0 auto;
}

.gallery__img4 {
	height:300px;
	width:300px;
	float:left;
	background: url(images/foto.png);
	margin: 0 13px 0 0;
} 

.gallery__img5 {
	height:300px;
	width:300px;
	float:left;
	background: url(images/foto.png);
}

.gallery__h1 {
	font-size:42px;
	font-family:Lato Light;
	text-align:center;
	margin:67px 0 35px 0;
}

.main_info__h1 {
	text-align:center;
	font-family:Lato Light;
	font-size:42px;
	margin:0 auto;
	margin:85px 0 50px 30px;
	display:inline-block;
}

.left {
	margin:40px;
	float:left;
}

.right {
	margin:40px;
	float:right;
}

.block__a {
	text-align:center;
	font-size:16px;
	color:#000;
}

.img1_description {
	height:71px;
	width:285px;
	margin:0 auto;
	margin-top:220px;
	background:url(images/foto_info.png);
}

.img2_description {
	height:71px;
	width:285px;
	margin:0 auto;
	margin-top:220px;
	background:url(images/foto_info.png);
}

.img3_description {
	height:71px;
	width:285px;
	margin:0 auto;
	margin-top:220px;
	background:url(images/foto_info.png);
}

.img4_description {
	height:71px;
	width:285px;
	margin:0 auto;
	margin-top:220px;
	background:url(images/foto_info.png);
}

.img5_description {
	height:71px;
	width:285px;
	margin:0 auto;
	margin-top:220px;
	background:url(images/foto_info.png);
}

.description_name {
	display:inline-block;
	font-family:Lato Light;
	font-size:21px;
	margin:0;
	padding:12px 0 0 10px;
}

.description__txt {
	float:left;
	font-family:Lato Light;
	font-size::18px;
	padding-left:10px;
}

.img_fb {
	float:right;
	margin:-15px 5px 0 0;
}

@media all and (max-width:1280px) {
	.content {
		height:auto;
	}

	.content__titel_over {
		height:auto;
	}

	.titel_over__h1 {
		font-size:42px;
		font-family:Lato Light;
		margin:15px 0 0 0;
	}

	.debug {
		margin:0 0 20px 0;
	}

	.block__h3 {
		padding-top:20px;
	}

	.content__main_info {
		height:auto;
		padding:20px;
		background: #fcc941;
	}

	.content__gallery {
		height: auto;
		padding:20px;
	}

	.gellery__second_row {
		display:none;
	}

	.gallery__img5_four {
		display:block;
	}

	.gallery__img5_five {
		display:block;
	}

	.main_info__h1 {
		text-align:center;
		font-family:Lato Light;
		font-size:42px;
		margin:85px 0 50px 30px;
		display:block;
	}

	.left {
		display:none;
	}

	.right {
		display:none;
	}

	.main_info__block4 {
		width:458px;
		height:399px;
		float:none;
		margin:0 auto;
		line-height:1.5;
		background: url(images/about-us.png);
		clear:both;
	}

	.main_info__block5 {
		width:458px;
		height:399px;
		margin:0 auto;
		float:none;
		line-height:1.5;
		background: url(images/about-us.png);
		clear:both;
	}

	.gallery__second_row {
		width:auto;
		height:auto;
		margin:0 auto;
    }

    .gallery__first_row {
		width:auto;
		height:auto;
		margin:0 auto;
    }
}

@media all and (max-width:700px) {
	.main_info__block1 {
		width:auto;
		height:auto;
		float:none;
		margin:0 auto;
	}

	.titel_over__h1 {
		text-align:center;
	}

	.block__h3 {
		text-align:center;
	}

	.main_info__block2 {
		width:auto;
		height:auto;
		float:none;
		margin:0 auto
	}

	.main_info__block3 {
		width:auto;
		height:auto;
		float:none;
		margin:0 auto;
	}

	.gallery__img5 {
		float:none;
		margin:0 auto;
		margin-bottom:30px;
	}

	.gallery__img4 {
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}

	.gallery__img3 {
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}

	.gallery__img2 {
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}

	.gallery__img1 {
		float:none;
		margin:0 auto;
		margin-bottom:10px;
	}

	.img4_description {
		margin-top:0;
		position:relative;
		top:215px;
	}

	.img3_description {
		margin-top:0;
		position:relative;
		top:215px;
	}

	.img2_description {
		margin-top:0;
		position:relative;
		top:215px;
	}

	.img1_description {
		margin-top:0;
		position:relative;
		top:215px;
	}

	.img5_description {
		margin-top:0;
		position:relative;
		top:215px;
	}
}

@media all and (max-width:550px) {
	.main_info__block4 {
		width:90%;
		height:auto;
		float:none;
		line-height:1.5;
		background: none;
		background-color:#fff;
	}

	.content .container {
		padding:0;
	}

	.main_info__block5 {
		width:90%;
		height:auto;
		float:none;
		line-height:1.5;
		background: none;
		background-color:#fff;
		margin:0 auto;
	}

	.block__h3 {
		padding:10px 10px 0 10px;
		font-family:Neucha;
		font-size:1.5em;
	}
}

@media all and (max-width:400px) {
		.main_info__h1 {
		text-align:center;
		font-family:Lato Light;
		font-size:2em;
		margin:85px 0 50px 0;
	}

}
